{% extends "base.html" %}
{% block title %} ASSET CLASS ADMIN {% endblock %}
{% block content %}
<form method="POST"><br>
    <h3 style="text-align: center;">Add Asset Class</h3>
    <div class="form-group">
        <label for="asset_class_code">Asset Class Code</label>
        <input type="text" class="form-control" id="asset_class_code" name="asset_class_code" placeholder="Enter Asset Class Code">
    </div>
    <div class="form-group">
        <label for="asset_class_desc">Asset Class Description</label>
        <input type="text" class="form-control" id="asset_class_desc" name="asset_class_desc" placeholder="Enter Asset Class Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}