{% extends "base.html" %}
{% block title %} ASSET CLASS ADMIN {% endblock %}
{% block content %}<br><h1 style="text-align: center; color:darkblue;">ASSET CLASS ADMIN</h1><br>
<div class="accordion" id="userACAdminAccordion">
<div class="card">
    <div class="card-header" id="headingAddAssetClass">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAddAssetClass" aria-expanded="false" aria-controls="collapseAddAssetClass">
                Add New Asset Class
            </button>
        </h2>
    </div>
<div id="collapseAddAssetClass" class="collapse" aria-labelledby="headingAddAssetClass" data-parent="#userACAdminAccordion">
    <div class="card-body">
<form method="POST">
    <div class="form-group">
        <label for="asset_class_code">Asset Class Code</label>
        <input type="text" class="form-control" id="asset_class_code" name="asset_class_code" placeholder="Enter Asset Class Code">
    </div>
    <div class="form-group">
        <label for="asset_class_desc">Asset Class Description</label>
        <input type="text" class="form-control" id="asset_class_desc" name="asset_class_desc" placeholder="Enter Asset Class Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Asset Class Code</th>
            <th>Asset Class Description</th>
            <th>Remove Asset Class</th>
        </tr>
    </thead>
    <tbody>
        {% for assetclass in asset_class_list %}
        <tr>
            <td>{{ assetclass.class_code }}</td>
            <td>{{ assetclass.class_desc }}</td>
            <td>
                <form action="{{ url_for('views.delete_asset_class', class_code=assetclass.class_code) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this asset class?');">
                    <button type="submit" class="btn btn-danger">Remove Asset Class</button>
                </form>
        <tr>
{% endfor %}
</table>
{% endblock %}