{% extends "base.html" %}
{% block title %} MAINTENANCE {% endblock %}
{% block content %}<br><h1 style="text-align: center; color:darkblue;">MAINTENANCE PAGE</h1><br>
<div class="accordion" id="userMaintenance">
<div class="card">
    <div class="card-header" id="headingAddMaintenance">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAddMaintenance" aria-expanded="false" aria-controls="collapseAddMaintenance">
                Add New Maintenance
            </button>
        </h2>
    </div>
<div id="collapseAddMaintenance" class="collapse" aria-labelledby="headingAddMaintenance" data-parent="#userMaintenanceAccordion">
    <div class="card-body">
<form method="POST">
    <div class="form-group">
        <label for="maintenance_type">Maintenance Type</label>
        <input type="text" class="form-control" id="maintenance_type" name="maintenance_type" placeholder="Enter Maintenance Type" required>
    </div>
    <div class="form-group">
        <label for="maintenance_desc">Maintenance Description</label>
        <input type="text" class="form-control" id="maintenance_desc" name="maintenance_desc" placeholder="Enter Maintenance Description">
    </div>
    <div class="form-group">
        <label for="asset_id">Asset Number</label>
        <input type="text" class="form-control" id="asset_id" name="asset_id" placeholder="Enter Asset Number">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
<table>
    <thead>
        <tr>
            <th>Maintenance ID</th>
            <th>Maintenance Type</th>
            <th>Maintenance Description</th>
            <th>Date</th>
            <th>Asset ID</th>
            <th>Asset Description</th>
            <th>Asset Class</th>
            <th>Remove Maintenance</th>
        </tr>
    </thead>
    <tbody>
        {% for maintenance, asset, assetclass in maintenance_list %}
        <tr>
            <td>{{ maintenance.id }}</td>
            <td>{{ maintenance.maintenance_type }}</td>
            <td>{{ maintenance.description }}</td>
            <td>{{ maintenance.date }}</td>
            <td>{{ asset.id }}</td>
            <td>{{ asset.description }}</td>
            <td>{{ assetclass.class_desc }}</td>
            <td>
                <form action="{{ url_for('views.delete_maintenance', id=maintenance.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this maintenance?')">
                    <button type="submit" class="btn btn-danger">Remove Maintenance</button>
                </form>
            </td>
        <tr>
{% endfor %}
</tbody>
</table>
{% endblock %}